body{
  background-color: rgb(223, 191, 223);
}

.title{
  color: white;
  align-self: center;
  align-content: center;
  text-align: center;
  font-size: 80px;
}

.subhead{
  text-align: center;
  margin-top: -50px;
  color: white;
}

.caption{
  color: white;
  text-align: center;
  margin-top: -30px;
}

.para1{
  font-size: 25px;
  padding: 60px;
  text-align: center;
  color: rgb(152, 110, 130);
}