@import "tailwindcss";

body {
  font-family: 'Chango', sans-serif;
  background-color: #dfbfdf;
  background-image:
    repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(230, 214, 230, 0.5) 10px, rgba(230, 214, 230, 0.5) 20px),
    repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(230, 214, 230, 0.5) 10px, rgba(230, 214, 230, 0.5) 20px),
    repeating-linear-gradient(0deg, transparent, transparent 10px, rgba(200, 180, 200, 0.3) 10px, rgba(200, 180, 200, 0.3) 20px),
    repeating-linear-gradient(90deg, transparent, transparent 10px, rgba(200, 180, 200, 0.3) 10px, rgba(200, 180, 200, 0.3) 20px);
  background-size: 20px 20px, 20px 20px, 40px 40px, 40px 40px;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #dfbfdf;
}

a:hover {
  color: #ffffff;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #bec0eb;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}