.greeting{
    color: white;
    text-align: center;
    padding: 50px;
    font-size: 50px;
}

.volun{
    padding: 50px;
    text-align: center;
    color: rgb(132, 102, 126);
    font-size: medium;
    margin-top: -50px;
}

@media (max-width: 768px) {
    .img-container {
        flex-direction: column;
        padding: 10px;
    }
    .ig, .ds {
        width: 200px;  
        height: 200px;
    }
    
    .greeting {
        font-size: 35px;
        padding: 30px 20px;
    }
    
    .volun {
        padding: 40px 20px;
    }
}

.ig, .ds{
    width: 300px;
    height: 300px;
    padding: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 40px; 
}